.title h {
  font-size: 20px;
  font-weight: bold;
  font-color: #538192;
  font-family: Arial;
}
.formHeader {
 font-size: 13pt;
 font-weight: bold;
 font-color: #538192;
 font-family: SansSerif;
}
.container {
  max-width: 70em;
  margin: 0 auto;
}

.mainContent {
  overflow: hidden;
  padding: 1em 1.25em;
}

.body {
  font-size: 12pt;
  font-family: Arial;
  color: #4283f4;
 }
.a:link, .a:visted {
  font-size: 12pt;
  font-family: Arial;
  font-color: #681b91;
 }
.footer { 
   text-color: #d8c9e0;
   background-color: #140919;
   height: 100px;
   padding: 1em 1.25em;
   position: relative;
  }
  #logo > logo {
  display: block;
  width: 70em;
  height: relative;
  background: src= ;
  margin: 0 auto;
  max-width: 100%;
  background-position: center;
  }
#nav > nav {
  margin: 0 auto;
  max-width: 100%
  }
#footer > footer {
  clear: left:
  }
#main > main {
  float: left;
  width: 100%;
  margin-right: 5%;
  margin-bottom: 1em;
}
.buttonList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuButton {
  background-color: 19281f;
  float: left;
}
.uLia {
 width: 175px;
 text-align: center;
 padding: 10px;
 margin: 10px;
 text-decoration: none;
 }

 



  
   
  
    
  